extends ./layout/main
include mixins/videoBlock

block content
    .hero
        .hero__text-container
            .hero__text
                h1 Wetube
                p Make something awesome.
        .hero__image
    .main
        .header
            h1 Check out
        ol.main__video-list
            each video in videos
                +videoBlock(video, user=video.creator)