extends ./layout/main

block content
    .login-wrapper
        .login-image
        .login-info
            h1 Login
            .login
                form.login-form
                    input(type="email", name="email", placeholder="email", required=true)
                    input(type="password", name="password1",placeholder="password", required=true)
                    input(type="submit", value="Login")
                .login__social
                    include ./partials/socialLogin