extends ./layout/main
include mixins/videoBlock

block content
    .profile
        .profile__detail
            img.detail__img(src=user.profile)
            .detail__info
                h1 #{user.name}
            if(loggedUser)
                button Edit
        .profile__video
            video.detail__img(src=user.videos[0].src)
    .profile-videos
        h1 History
        ol.videos__list
            each video in user.videos
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
                +videoBlock(video, user)
