mixin commentBlock(comment={}, user={})
    li.comments__comment
        .comment__creator
            img.creator__profile(src=`/${user.profile}`)
            span.creator__name #{user.name}
        form.comment__text
            .form__text
                p #{comment.text}
            textarea.hidden(name="comment")
            if(loggedUser && loggedUser.id == comment.creator.id)
                .comment__btn-box
                    button.comment-editBtn(type="button") Edit
                    button.comment-deleteBtn(type="button") Delete