mixin videoBlock()
    li.videoBlock
        a(href=routes.videoDetail(11))
            video.video-thumbnail(src="https://www.w3schools.com/html/mov_bbb.mp4")
        .info-container
            .info-creator
                a(href=routes.userDetail(222))
                    img.creator-profile(src="https://source.unsplash.com/random")
                span.creator-name Benjamin
            .info-sub
                span.comments
                    i.fas.fa-comment
                |   15
                span.like
                    i.fas.fa-heart
                |   23
