.hero {
  margin-top: 100px;
  position: relative;
  width: 100%;
  min-width: 800px;
  max-width: 1025px;
  min-height: 512px;
  display: flex;
  border: 1px solid $black;
  .hero__text-container {
    flex: 1;
    .hero__text {
      margin-left: 10%;
      position: relative;
      top: 30%;
      h1 {
        font-size: 500%;
      }
      p {
        margin-top: 25px;
        font-size: 130%;
        opacity: 0.6;
      }
    }
  }
  .hero__image {
    background-color: $peachPink;
    flex: 1;
  }
}
.main {
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%;
  .header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px;
  }
}
