.video-container {
  margin-bottom: 70px;
  .video {
    margin-top: 120px;
    object-fit: cover;
    min-width: 800px;
    max-width: 1025px;
    max-height: 512px;
  }
  .video-info {
    margin-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    .info__column {
      display: flex;
      justify-content: center;
      align-items: center;
      .info__creator {
        margin-right: 20px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      .info__text {
        .text__title {
          display: flex;
          justify-content: center;
          align-items: center;
          .title__box {
            width: 100%;
            h1 {
              font-size: 23px;
              font-weight: 600;
              margin-bottom: 8px;
            }
          }
          button {
            margin-left: 10px;
          }
        }
        a:nth-child(2) {
          span {
            margin-left: 4px;
            color: $blue;
          }
        }
      }
    }
  }
  .video-sub {
    margin-top: 40px;
    p {
      margin-bottom: 40px;
      font-size: 15px;
      opacity: 0.7;
    }
    textarea {
      width: 80%;
    }
    .sub {
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      i:hover {
        cursor: pointer;
        color: $pink;
      }
    }
  }
}
