/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.show {
  display: block; }

.hidden {
  display: none; }

.slidingLogged {
  -webkit-transform: translateX(-290px);
     -moz-transform: translateX(-290px);
      -ms-transform: translateX(-290px);
       -o-transform: translateX(-290px);
          transform: translateX(-290px); }

.slidingUnlogged {
  -webkit-transform: translateX(-170px);
     -moz-transform: translateX(-170px);
      -ms-transform: translateX(-170px);
       -o-transform: translateX(-170px);
          transform: translateX(-170px); }

.slidingSearch {
  -webkit-transform: translateX(-330px);
     -moz-transform: translateX(-330px);
      -ms-transform: translateX(-330px);
       -o-transform: translateX(-330px);
          transform: translateX(-330px); }

.slidingDelete {
  -webkit-transform: translateX(-30px);
     -moz-transform: translateX(-30px);
      -ms-transform: translateX(-30px);
       -o-transform: translateX(-30px);
          transform: translateX(-30px); }

.likeClick {
  color: #e9385e; }

header {
  width: 100%;
  height: 70px;
  padding: 0 15%;
  background-color: white;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
     -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  header i {
    font-size: 40px; }
  header span {
    font-size: 27px;
    opacity: 0.7;
    margin-left: 20px; }
    header span:nth-child(2) {
      cursor: pointer; }

.logged-bar {
  right: -21%; }

.unlogged-bar {
  right: -12%; }

.bar-container {
  position: fixed;
  top: 9%;
  height: 60px;
  padding: 5px 0;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out;
  -moz-transition: transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out, -moz-transform 0.3s ease-in-out, -o-transform 0.3s ease-in-out;
  z-index: 3; }
  .bar-container .side-bar {
    padding: 0 15px;
    height: 100%;
    -webkit-border-radius: 20px;
       -moz-border-radius: 20px;
            border-radius: 20px;
    background-color: #d6d5c3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
    .bar-container .side-bar span,
    .bar-container .side-bar i {
      margin: 0 5px;
      font-size: 20px;
      cursor: pointer; }
    .bar-container .side-bar .menu__menu-icon {
      opacity: 1; }

footer {
  position: absolute;
  bottom: -100px;
  width: 100%;
  height: 100px;
  background-color: #abab93;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  footer .text-container {
    text-align: center;
    font-weight: 600; }
    footer .text-container i {
      margin-right: 10px; }

.main__video-list,
.videos__list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 35px;
  list-style: none;
  margin-bottom: 20px; }
  .main__video-list .videoBlock,
  .videos__list .videoBlock {
    min-height: 200px; }
    .main__video-list .videoBlock .video-title,
    .videos__list .videoBlock .video-title {
      margin-top: 10px;
      font-size: 1.3em;
      font-weight: 600; }
    .main__video-list .videoBlock .video-thumbnail,
    .videos__list .videoBlock .video-thumbnail {
      -o-object-fit: cover;
         object-fit: cover;
      width: 100%;
      height: 80%;
      -webkit-border-radius: 10px;
         -moz-border-radius: 10px;
              border-radius: 10px; }
    .main__video-list .videoBlock .info-container,
    .videos__list .videoBlock .info-container {
      margin-top: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .main__video-list .videoBlock .info-container .info-creator a,
      .videos__list .videoBlock .info-container .info-creator a {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        font-weight: 600; }
      .main__video-list .videoBlock .info-container .info-creator img,
      .videos__list .videoBlock .info-container .info-creator img {
        margin-right: 5px;
        -o-object-fit: cover;
           object-fit: cover;
        width: 30px;
        height: 30px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%; }
      .main__video-list .videoBlock .info-container .info-sub span,
      .videos__list .videoBlock .info-container .info-sub span {
        margin-left: 5px; }
        .main__video-list .videoBlock .info-container .info-sub span i,
        .videos__list .videoBlock .info-container .info-sub span i {
          opacity: 0.7; }
          .main__video-list .videoBlock .info-container .info-sub span i:hover,
          .videos__list .videoBlock .info-container .info-sub span i:hover {
            color: #e9385e; }

.search-container {
  position: fixed;
  top: 17%;
  right: -300px;
  -webkit-transition: -webkit-transform 0.4s ease-in-out;
  transition: -webkit-transform 0.4s ease-in-out;
  -o-transition: -o-transform 0.4s ease-in-out;
  -moz-transition: transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out;
  transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out, -moz-transform 0.4s ease-in-out, -o-transform 0.4s ease-in-out;
  z-index: 3;
  width: 300px;
  height: 180px;
  background-color: white;
  border: 1px solid black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .search-container .search {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 50px; }
    .search-container .search h1 {
      font-size: 1.5em;
      opacity: 0.7;
      margin-bottom: 20px; }
    .search-container .search form {
      width: 100%; }
      .search-container .search form input:first-child {
        margin-right: 12px; }

.hero {
  margin-top: 100px;
  position: relative;
  width: 100%;
  min-width: 800px;
  max-width: 1025px;
  min-height: 512px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #101010; }
  .hero .hero__text-container {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
    .hero .hero__text-container .hero__text {
      margin-left: 10%;
      position: relative;
      top: 30%; }
      .hero .hero__text-container .hero__text h1 {
        font-size: 500%; }
      .hero .hero__text-container .hero__text p {
        margin-top: 25px;
        font-size: 130%;
        opacity: 0.6; }
  .hero .hero__image {
    background-color: #e3c2b1;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }

.main {
  margin-top: 70px;
  margin-bottom: 50px;
  width: 100%; }
  .main .header {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 25px; }

.join-wrapper {
  width: 100vw;
  height: 100vh;
  max-height: 865px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 15vw; }
  .join-wrapper .join-image {
    -webkit-box-flex: 1.3;
    -webkit-flex: 1.3;
       -moz-box-flex: 1.3;
        -ms-flex: 1.3;
            flex: 1.3;
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover; }
  .join-wrapper .join-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 80px; }
    .join-wrapper .join-info h1 {
      margin: 30px 0;
      font-size: 3em; }
    .join-wrapper .join-info form {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .join-wrapper .join-info form input:not(:last-child) {
        font-size: 18px;
        margin-bottom: 20px; }
      .join-wrapper .join-info form input:last-child {
        margin-bottom: 30px; }
    .join-wrapper .join-info .join__social {
      width: 70%; }
      .join-wrapper .join-info .join__social a {
        width: 100%; }
        .join-wrapper .join-info .join__social a button {
          width: 100%; }

.video-container {
  margin-bottom: 70px; }
  .video-container .video {
    margin-top: 120px;
    -o-object-fit: cover;
       object-fit: cover;
    min-width: 800px;
    max-width: 1025px;
    max-height: 512px; }
  .video-container .video-info {
    margin-top: 20px;
    padding-bottom: 20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
       -moz-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12); }
    .video-container .video-info .delete-box {
      width: 20%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      .video-container .video-info .delete-box span {
        cursor: pointer;
        opacity: 0.5;
        margin-right: 5px; }
        .video-container .video-info .delete-box span:hover {
          opacity: 1; }
      .video-container .video-info .delete-box a {
        opacity: 0.5; }
        .video-container .video-info .delete-box a:hover {
          opacity: 1; }
    .video-container .video-info .info__column {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .video-container .video-info .info__column .info__creator {
        margin-right: 20px;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 50%;
           -moz-border-radius: 50%;
                border-radius: 50%; }
      .video-container .video-info .info__column .info__text .text__title {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
           -moz-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .video-container .video-info .info__column .info__text .text__title .title__box {
          width: 100%; }
          .video-container .video-info .info__column .info__text .text__title .title__box h1 {
            font-size: 23px;
            font-weight: 600;
            margin-bottom: 8px; }
        .video-container .video-info .info__column .info__text .text__title button {
          margin-left: 10px; }
      .video-container .video-info .info__column .info__text a:nth-child(2) span {
        margin-left: 4px;
        color: #2f35c6; }
  .video-container .video-sub {
    margin-top: 40px; }
    .video-container .video-sub form .description__btn-box {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
         -moz-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      margin-bottom: 5px; }
    .video-container .video-sub form p {
      margin-bottom: 40px;
      font-size: 15px;
      opacity: 0.7; }
    .video-container .video-sub form textarea {
      width: 80%; }
    .video-container .video-sub .sub {
      margin-top: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .video-container .video-sub .sub i {
        margin-right: 5px; }
      .video-container .video-sub .sub i:hover {
        cursor: pointer;
        color: #e9385e; }
  .video-container .video-comments {
    margin-top: 35px;
    border-top: 2px solid rgba(0, 0, 0, 0.12);
    width: 100%;
    padding-top: 25px; }
    .video-container .video-comments .comments__text {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
         -moz-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 35px; }
      .video-container .video-comments .comments__text h3 {
        font-size: 1.2em;
        font-weight: 500; }
      .video-container .video-comments .comments__text span {
        opacity: 0.7; }
    .video-container .video-comments .comments__form {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .video-container .video-comments .comments__form .form__me {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
           -moz-box-orient: vertical;
           -moz-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 20px; }
        .video-container .video-comments .comments__form .form__me img {
          -o-object-fit: cover;
             object-fit: cover;
          width: 40px;
          height: 40px;
          -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
                  border-radius: 50%; }
        .video-container .video-comments .comments__form .form__me span {
          opacity: 0.7; }
      .video-container .video-comments .comments__form textarea {
        width: 100%;
        height: 100%;
        margin-right: 25px; }
    .video-container .video-comments li {
      margin-top: 20px;
      padding-top: 15px;
      border-top: 1px solid rgba(0, 0, 0, 0.12); }
      .video-container .video-comments li .comment__creator {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
        .video-container .video-comments li .comment__creator img {
          -o-object-fit: cover;
             object-fit: cover;
          margin-right: 10px;
          width: 40px;
          height: 40px;
          -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
                  border-radius: 50%; }
        .video-container .video-comments li .comment__creator span {
          -webkit-align-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
          opacity: 0.7; }
      .video-container .video-comments li .comment__text {
        margin-top: 7px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
           -moz-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 50px; }
        .video-container .video-comments li .comment__text p {
          line-height: 1.3;
          margin-right: 25px; }
        .video-container .video-comments li .comment__text textarea {
          width: 100%;
          margin-right: 25px; }
        .video-container .video-comments li .comment__text .comment__btn-box {
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
             -moz-box-orient: vertical;
             -moz-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-pack: center;
          -webkit-justify-content: center;
             -moz-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          -webkit-box-align: center;
          -webkit-align-items: center;
             -moz-box-align: center;
              -ms-flex-align: center;
                  align-items: center; }
          .video-container .video-comments li .comment__text .comment__btn-box button {
            margin-bottom: 5px; }

.profile {
  margin-top: 130px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 30px;
  border-bottom: 1px solid #101010; }
  .profile .profile__detail {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
       -moz-box-orient: vertical;
       -moz-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .profile .profile__detail img {
      -o-object-fit: cover;
         object-fit: cover;
      margin-bottom: 40px;
      width: 80px;
      height: 80px;
      -webkit-border-radius: 50%;
         -moz-border-radius: 50%;
              border-radius: 50%; }
    .profile .profile__detail .detail__info {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
         -moz-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .profile .profile__detail .detail__info h1 {
        font-size: 1.6em;
        font-weight: 600;
        margin-bottom: 25px; }
      .profile .profile__detail .detail__info h3 {
        opacity: 0.7;
        margin-bottom: 25px; }
  .profile .profile__video {
    -webkit-box-flex: 1.3;
    -webkit-flex: 1.3;
       -moz-box-flex: 1.3;
        -ms-flex: 1.3;
            flex: 1.3;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .profile .profile__video video {
      -o-object-fit: cover;
         object-fit: cover;
      width: 600px; }

.profile-videos {
  width: 100%;
  margin-top: 50px; }
  .profile-videos h1 {
    font-size: 1.5em;
    margin-bottom: 15px; }

.login-wrapper {
  width: 100vw;
  height: 100vh;
  max-height: 865px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 15vw; }
  .login-wrapper .login-image {
    -webkit-box-flex: 1.3;
    -webkit-flex: 1.3;
       -moz-box-flex: 1.3;
        -ms-flex: 1.3;
            flex: 1.3;
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover; }
  .login-wrapper .login-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 80px; }
    .login-wrapper .login-info h1 {
      margin: 30px 0;
      font-size: 3em; }
    .login-wrapper .login-info form {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .login-wrapper .login-info form input:not(:last-child) {
        font-size: 18px;
        margin-bottom: 20px; }
      .login-wrapper .login-info form input:last-child {
        margin-bottom: 30px; }
    .login-wrapper .login-info .login__social {
      width: 70%; }
      .login-wrapper .login-info .login__social a {
        width: 100%; }
        .login-wrapper .login-info .login__social a button {
          width: 100%; }

.search-result {
  margin-top: 40px;
  font-size: 2em;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start; }

.search-list {
  width: 100%;
  margin-top: 50px; }
  .search-list .search-videoblock {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    max-height: 300px; }
    .search-list .search-videoblock .search-column:first-child {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
         -moz-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
      .search-list .search-videoblock .search-column:first-child .video-result {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
           object-fit: cover; }
    .search-list .search-videoblock .search-column:nth-child(2) {
      padding: 20px;
      -webkit-box-flex: 1.3;
      -webkit-flex: 1.3;
         -moz-box-flex: 1.3;
          -ms-flex: 1.3;
              flex: 1.3; }
      .search-list .search-videoblock .search-column:nth-child(2) h1 {
        font-size: 1.3em;
        margin-bottom: 10px; }
      .search-list .search-videoblock .search-column:nth-child(2) .search__info-sub {
        margin-bottom: 40px; }
        .search-list .search-videoblock .search-column:nth-child(2) .search__info-sub span {
          margin-right: 10px; }
        .search-list .search-videoblock .search-column:nth-child(2) .search__info-sub .fit-space {
          display: inline; }
          .search-list .search-videoblock .search-column:nth-child(2) .search__info-sub .fit-space .like span {
            margin-left: 5px; }
      .search-list .search-videoblock .search-column:nth-child(2) .search__info-creator {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
           -moz-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-align: center;
        -webkit-align-items: center;
           -moz-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        margin-bottom: 20px; }
        .search-list .search-videoblock .search-column:nth-child(2) .search__info-creator .creator-profile {
          margin-right: 15px;
          width: 30px;
          height: 30px;
          -o-object-fit: cover;
             object-fit: cover;
          -webkit-border-radius: 50%;
             -moz-border-radius: 50%;
                  border-radius: 50%; }
      .search-list .search-videoblock .search-column:nth-child(2) p {
        opacity: 0.7; }

.upload-wrapper {
  width: 100vw;
  height: 100vh;
  max-height: 865px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 15vw; }
  .upload-wrapper .upload-image {
    -webkit-box-flex: 1.3;
    -webkit-flex: 1.3;
       -moz-box-flex: 1.3;
        -ms-flex: 1.3;
            flex: 1.3;
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover; }
  .upload-wrapper .upload-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 80px; }
    .upload-wrapper .upload-info h1 {
      margin: 30px 0;
      font-size: 3em; }
    .upload-wrapper .upload-info form {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .upload-wrapper .upload-info form label {
        margin-bottom: 20px; }
      .upload-wrapper .upload-info form input:not(:last-child) {
        font-size: 18px;
        margin-bottom: 20px; }
      .upload-wrapper .upload-info form input:last-child {
        margin-top: 30px; }

.editProfile-wrapper {
  width: 100vw;
  height: 100vh;
  max-height: 865px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 15vw; }
  .editProfile-wrapper .editProfile-image {
    -webkit-box-flex: 1.3;
    -webkit-flex: 1.3;
       -moz-box-flex: 1.3;
        -ms-flex: 1.3;
            flex: 1.3;
    background-image: url("https://source.unsplash.com/random");
    background-position: center;
    -webkit-background-size: cover;
       -moz-background-size: cover;
            background-size: cover; }
  .editProfile-wrapper .editProfile-info {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
       -moz-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding: 80px; }
    .editProfile-wrapper .editProfile-info h1 {
      margin: 30px 0;
      font-size: 3em; }
    .editProfile-wrapper .editProfile-info form {
      width: 70%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
         -moz-box-orient: vertical;
         -moz-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
         -moz-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
      .editProfile-wrapper .editProfile-info form input:not(:last-child) {
        width: 100%;
        font-size: 18px;
        margin-bottom: 20px; }
      .editProfile-wrapper .editProfile-info form input:last-child {
        margin-bottom: 30px; }
      .editProfile-wrapper .editProfile-info form:nth-child(2) {
        margin-top: 30px; }
    .editProfile-wrapper .editProfile-info label {
      margin-bottom: 10px;
      opacity: 0.7; }
    .editProfile-wrapper .editProfile-info h3 {
      margin-bottom: 20px;
      opacity: 0.7;
      color: #4a312a;
      cursor: pointer; }

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box; }

html,
body {
  width: 100%;
  height: 100%; }

body {
  position: relative; }

main {
  width: 100%;
  padding: 0 15vw;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  main .window-up {
    position: fixed;
    bottom: 6%;
    right: 3%;
    background-color: #e3c2b1;
    width: 40px;
    height: 40px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer; }

a {
  color: black;
  cursor: pointer;
  text-decoration: none; }

.social-login {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
     -moz-box-orient: vertical;
     -moz-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
     -moz-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .social-login a {
    margin-bottom: 5px; }

.like {
  cursor: pointer; }

