.show {
  display: block;
}
.hidden {
  display: none;
}
.slidingLogged {
  transform: translateX(-290px);
}
.slidingUnlogged {
  transform: translateX(-170px);
}
.slidingSearch {
  transform: translateX(-330px);
}
.slidingDelete {
  transform: translateX(-30px);
}
.likeClick {
  color: $pink;
}
